<launch>
    <!-- x y z yaw pitch roll -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_fake_drone"
        args="0 0 2 0 0 0 map drone 10"/>  -->

    <!-- drone setup -->

    <node pkg="tf" type="static_transform_publisher" name="tf_d435_backward"
        args="-0.13 0 -0.14 3.14 1.309 0 drone d435_backward_link 10"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_zedm_forward"
        args="0.12 0 -0.12 0 1.0472 0 drone zedm_forward_link 10"/>

    <!-- tag setup -->

    <node pkg="tf" type="static_transform_publisher" name="tf_tag_201" args=" 0.375 -0.375 0 1.57 0 0 tag_201 tag_center 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_tag_202" args=" 0.125 -0.125 0 1.57 0 0 tag_202 tag_center 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_tag_203" args="-0.125  0.125 0 1.57 0 0 tag_203 tag_center 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_tag_204" args="-0.375  0.375 0 1.57 0 0 tag_204 tag_center 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_tag_001" args=" 0.25   0.25  0 1.57 0 0 tag_001 tag_center 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_tag_002" args="-0.25  -0.25  0 1.57 0 0 tag_002 tag_center 10"/>
    
    <node pkg="tf" type="static_transform_publisher" name="tf_landing" args=" 0     0    0 0 0 0 tag_center landing 10"/>

</launch>
